<div id="<%= dom_id grade_competence %>">
  <p>
    <strong>Name:</strong>
    <%= grade_competence.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= grade_competence.level_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grade_competence.grade %>
  </p>

  <p>
    <strong>Fundamental competence:</strong>
    <%= grade_competence.fundamental_competence_id %>
  </p>

</div>
