<p style="color: green"><%= notice %></p>

<%= render @grade_competence %>

<div>
  <%= link_to "Edit this grade competence", edit_grade_competence_path(@grade_competence) %> |
  <%= link_to "Back to grade competences", grade_competences_path %>

  <%= button_to "Destroy this grade competence", @grade_competence, method: :delete %>
</div>
