<div id="<%= dom_id concept_topic %>">
  <p>
    <strong>Level:</strong>
    <%= concept_topic.level_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= concept_topic.grade_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= concept_topic.subject_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= concept_topic.topic %>
  </p>

</div>
