<%= form_with(model: concept_topic) do |form| %>
  <% if concept_topic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(concept_topic.errors.count, "error") %> prohibited this concept_topic from being saved:</h2>

      <ul>
        <% concept_topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :level_id, style: "display: block" %>
    <%= form.text_field :level_id %>
  </div>

  <div>
    <%= form.label :grade_id, style: "display: block" %>
    <%= form.text_field :grade_id %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.text_field :subject_id %>
  </div>

  <div>
    <%= form.label :topic, style: "display: block" %>
    <%= form.text_field :topic %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
