<p style="color: green"><%= notice %></p>

<%= render @concept_topic %>

<div>
  <%= link_to "Edit this concept topic", edit_concept_topic_path(@concept_topic) %> |
  <%= link_to "Back to concept topics", concept_topics_path %>

  <%= button_to "Destroy this concept topic", @concept_topic, method: :delete %>
</div>
